
.news .card {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 1.5px 5px 6.5px rgba(0, 0, 0, 0.39);
  border: 0;
  border-radius: 10px;
  height: 300px;
  width: 400px;
  margin-bottom: 10px;

  .card-title {
    font-weight: bold;
    text-align: center;

  }
}

.news .more {
  color: black !important;
  background-color: #f7a739;
  padding: 10px 30px;
  border-radius: 10px;
  text-decoration: none;


}

.news .card .news-img-wrap {
  width: 100%; /* Stellt sicher, dass es die gesamte Breite der Card einnimmt */
  display: block; /* Falls notwendig, um es als Block-Element zu setzen */
}

.news .card .news-img-wrap img {
  width: 100%; /* Das Bild füllt die Breite des Wrappers */
  height: 120px; /* Beibehaltung des Seitenverhältnisses */

}

.news .more:hover {
  background-color: #df7c38;
}

.row {
  display: flex;
  justify-content: space-between;
}



