//styling of the news cards
.news .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
  padding: 0;
  box-shadow: 1.5px 5px 6.5px rgba(0, 0, 0, 0.39);
  border: 0;
  border-radius: 10px;
  height: 300px;
  width: 400px;
  margin-bottom: 10px;
  //too large elements are cut
  overflow: hidden;
}

//styling of the news card img container
.news .card .news-img-wrap {
  width: 100%;
  margin: 0;
  display: block;
}

//styling of the news card img
.news .card .news-img-wrap img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  display: block;
}

//header of the cards
.news .card .header {
  text-align: center;
  padding: 10px 15px;
}

//text of the header
.news .card .header span {
  color: $color_black;
  text-decoration: underline $color_black;
}

//if the text of the header is hovered
.news .card .header span:hover {
  color: $secondary;
  text-decoration: underline $secondary;
}

//button of the card
.news .more {
  color: $color_black !important;
  background-color: $primary;
  padding: 10px 30px;
  border-radius: 10px;
  text-decoration: none;
}

//button hover
.news .more:hover {
  background-color: $primary;
}

.row {
  display: flex;
  justify-content: space-between;

}

.news .swiper {
  padding-right: 20px;
}



