//contact form
.contact-section {
  margin-left: 100px;
  margin-right: 100px;
}

//header of form
.header-center {
  display: flex;
  justify-content: center;
}

//last page summary
.summary-list {
  margin-left: 100px;
  margin-right: 100px;
}

//summary page title
.form-container fieldset legend {
  display: flex;
  justify-content: center;
}

//nav buttons left and right
.form-navigation .contact-section {
  display: flex;
  justify-content: space-between !important;
}

.form-quest {
  border: none;
}

