#page-footer section{
  background-color: $primary;
}

.footer-section .image {

    width: 150px;
    height: auto;
}

.footer-section .frame-inner {
  color: black ;

}

.footer-section .element-header {
  font-weight: bold;
}

.footer-section legend {
  font-weight: bold;

}

.footer-section strong {
  color: black;
  text-decoration: underline;
}

.footer-section .element-header a {
  color: black;
  font-weight: bold;
}
