
#page-footer section{
  background-color: $primary;
}

.footer-section .image {

    width: 190px;
    height: auto;
}

.footer-section-content-column-middle {
  display: flex; /* Aktiviert Flexbox */
  justify-content: center; /* Zentriert horizontal */
  align-items: center; /* Zentriert vertikal */
  height: 100%; /* Sicherstellen, dass der Container die volle Höhe einnimmt */
}

.footer-section .frame-inner {
  color: black ;

}

.footer-section .element-header {
  font-weight: bold;
}

.footer-section legend {
  font-weight: bold;

}

.footer-section strong {
  color: black;
  text-decoration: underline;
}

.footer-section strong:hover {
  color: #d15b38;
}

.footer-section .element-header a {
  color: black;
  font-weight: bold;
}

.footer-section .element-header a:hover {
  color: #d15b38;
}

 .footer-section-meta {
  display: none !important;
}

.logoutSubmit {
  background: none !important;
  box-shadow: none !important;
  border: none !important;

}

//Should change that - not ideal
.footer-section h3 {
  display: none !important;

}

//Should change that - not ideal
.footer-section .footer-section-content-column-right p {
  display: none !important;

}

//does not work
.footer-section-content-column-right .frame-container {
  justify-content: right !important;
}
