//nav items active inactive
.navactive {
  font-weight: bold;
  color: $color_black;
}

.navbar-mainnavigation {
  --mainnavigation-hightlight: none;
}
.inactive {
  color: $color_black;

}

//navbar
.navbar-nav {
  margin: 0;
  background-color: $primary;
  border-radius: 10px;
  padding: 0 10px;
  padding-right: 20px;
  display: flex;
  gap: 10px; //gap between navitems
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}

//nav item active
.nav-item:has(.active) {
  background-color: $tertiary;
  border-radius: 10px;
}

//nav item hover
.nav-item:hover {
  background-color: $secondary;
  border-radius: 10px;
}

.nav-item {
  padding: 5px 15px;
}

.header_nav a {
  text-decoration: none;
  color: inherit;
}

//navbar wrapper
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

//language navigation
.language-navigation {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
}



