
.news .swiper-button-next {
  right: -10px; /* Abstand vom rechten Rand des Containers */
}

.news .swiper-button-prev {
  left: -10px; /* Abstand vom linken Rand des Containers */
}

.news .swiper-wrapper {
  padding-left: 10px;
  justify-content: space-between;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;

  .gallery-item {
    flex: 1 1 auto; /* sorgt dafür, dass die Items flexibel in den Container passen */

    .textpic-item {
      display: flex;
      flex-direction: column; /* Bild und Text in einer vertikalen Ausrichtung */
      align-items: center;   /* Zentriert die Items vertikal */

      .image {
        max-width: 100%; /* Bild passt sich der Breite des Containers an */
        height: auto;     /* hält das Seitenverhältnis des Bildes */
      }
    }
  }
}

.news-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.news-navigation li {
  flex: 1;
}

.news-navigation li.news-prev {
  text-align: left;
}

.news-navigation li.news-next {
  text-align: right;
}
