//position of swiper news button
.news .swiper-button-next {
  right: -10px;
}

.news .swiper-button-prev {
  left: -10px;
}

.news .swiper-wrapper {
  padding-left: 10px;
  justify-content: space-between;
}


.news-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.news-navigation li {
  flex: 1;
}
.swiper-button-prev,
.swiper-button-next {
  margin: 20px;

}

.swiper-button-prev {
  left: 0; /* Links ausgerichtet */
}

.swiper-button-next {
  right: 0; /* Rechts ausgerichtet */
}

//article arrows
.news-navigation li.news-prev {
  text-align: left;
}

.news-navigation li.news-next {
  text-align: right;
}

.news .more:hover {
  background-color: $secondary;
}

.news-link a{
  color: $color_black !important;
  gap: 5px;
}

.news-link:hover a{
  color: $secondary !important;
}

.news-link:hover .btn-custom {
  color: $secondary !important;
  border-color: $secondary;
}

.news-link i {
  margin: 3px;
  border: 2px solid $color_black; /* Kreisrand */
  border-radius: 50%; /* Kreisig machen */
  padding: 4px; /* Inneren Abstand des Kreises */
  width: 25px;
  height: 25px;
}

.gallery-item img {
  border-radius: 10px;
}
