.tx-fp-masterquiz .card{
  border: none;
}

.tx-fp-masterquiz .mx-auto h4{
  font-weight: bold;
}

.quiz-question-buttons {
  padding-left: 20px;
}


.tx-fp-masterquiz .quiz-radiobox {
  margin-right: 20px;
  margin-bottom: 10px;
}

.tx-fp-masterquiz .progress{
  margin-right: 150px;
  margin-left: 150px;
}


